{% trans_default_domain 'BkstgSearchBundle' %}
{% if aggregation.links|length > 1 or aggregation.active %}
  <div class="card mb-3">
    <div class="card-header">
      {{ aggregation.label }}
    </div>
    <div class="list-group list-group-flush">
      {% for link in aggregation.links %}
        <a href="{{ bkstg_search_aggregation_url(link) }}" class="list-group-item list-group-item-action{% if link.active %} active{% endif %}">
          <span class="badge badge-{% if link.active %}secondary{% else %}primary{% endif %}">{{ link.count }}</span>
          {{ link.label }}
          {% if link.active %}
            <span class="float-right fa fa-close mt-1"></span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
