{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgSearchBundle' %}
{% set page_title = 'search'|trans %}
{% block content %}
  <ul class="list-group">
  {% for result in results %}
    <li class="list-group-item list-group-item-action">
      {{ bkstg_search_result(result) }}
    </li>
  {% else %}
    <p><em>{{ 'Your search did not return any results.'|trans }}</em></p>
  {% endfor %}
  </ul>
  {{ knp_pagination_render(results) }}
{% endblock %}
